/* font-family: 'Roboto', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
a {
  font-family: inherit;
}
.header {
  background: #373a3c;
  border-radius: 4px 4px;
  border-bottom: 3px solid #777;
}
.container-header {
  max-width: 1105px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}
.header-logo {
}
.header-image {
}
.menu {
}
.menu-body {
}
.menu-list {
  display: flex;
  align-items: center;
}
.menu-item {
  list-style: none;
  margin-left: 40px;
}
.menu-link {
  font-size: 16px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.5s ease 0s;
  text-decoration: none;
}
.menu-link:hover {
  color: #fff;
  text-shadow: 0 0 5px #fff;
}
.promo {
  background: url(../img/fdfgv.jpg) no-repeat center / cover;
  height: calc(110vh - 40px);
}
.container-promo {
  max-width: 1105px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}
.promo_title {
  font-size: 56px;
  line-height: 52px;
  color: #fff;
  margin-bottom: 34px;
}
.promo_title span {
  display: block;
  font-size: 24px;
  line-height: 28px;
}
.block-promo-buttons {
  display: flex;
  align-items: left;
  column-gap: 20px;
}
.promo-button1 {
  padding: 8px 19px;
  background: linear-gradient(180deg, #170966 0%, #cc0000 100%);
  border-radius: 4px;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}
.promo-button {
  padding: 8px 19px;
  background: linear-gradient(180deg, #a20000 0%, #373a3c 100%);
  border-radius: 4px;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}
.promo-button:hover {
  background: #0f0064;
  transition: all 0.5s ease 0s;
}
.promo-button1:hover {
  background: #8dd83d;
  transition: all 0.5s ease 0s;
}
.best {
  padding: 34px 0 165px 0;
  background: linear-gradient(180deg, #686c6f 0%, #1070b1 100%);
}
.best-logo {
  display: block;
  margin: 0 auto;
}

.best-title {
  text-align: center;
  font-size: 48px;
  line-height: 56px;
  color: #ffffff;
  font-weight: 400;
}
.best-title span {
  display: block;
}
.container {
  max-width: 1105px;
  margin: 0 auto;
  padding: 0 15px;
}
.best-info {
  display: flex;
  justify-content: space-between;
}
.best-card {
  flex: 0 0 320px;
  background: #fff;
}
.best-card-img {
  height: 180px;
  background: url(../img/photo_2022-10-19_18-12-03_photo-resizer.ru.jpg)
    no-repeat;
}
.best-card-title {
  font-size: 18px;
  line-height: 21px;
  color: #435766;
  margin-bottom: 13px;
  padding: 0 20px;
}
.best-card-text {
  font-size: 24px;
  line-height: 28px;
  color: #435766;
  margin-bottom: 38px;
  padding: 0 20px;
}
.best-button {
  display: block;
  width: 200px;
  padding: 8px 19px;
  margin: 0 auto;
  margin-bottom: 38px;
  background: linear-gradient(180deg, #22ff00 0%, #0099ff 100%);
  border-radius: 4px;
  font-size: 16px;
  line-height: 21px;
  color: #7d275a;
  text-decoration: none;
  text-align: center;
  transition: all 0.5s ease 0s;
}
.best-button:hover {
  background: #8dd83d;
  transition: all 0.5s ease 0s;
}
.best-card-foto {
  height: 240px;
  background: url(../img/photo_2022-10-19_18-12-26.jpg) no-repeat center;
}
.best-card-fotka {
  height: 280px;
  background: url(../img/photo_2022-10-19_18-12-32.jpg) no-repeat center;
}
.menu-icon {
  flex: 0 0 30px;
  height: 18px;
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

.menu-icon span,
.menu-icon::before,
.menu-icon::after {
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  z-index: 10;
  background: #fff;
  transition: all 0.7s ease 0s;
}
.menu-icon span {
  top: 50%;
  transform: translate(0, -50%);
}
.menu-icon::before,
.menu-icon::after {
  content: "";
}
.menu-icon::before {
  top: 0;
}
.menu-icon::after {
  bottom: 0;
}

.menu-icon.active span {
  transform: scale(0);
}
.menu-icon.active::before {
  top: 50%;
  transform: translate(0, -50%) rotate(-45deg);
}
.menu-icon.active::after {
  bottom: 50%;
  transform: translate(0, 50%) rotate(45deg);
}

@media (max-width: 750px) {
  .menu-icon {
    display: block;
  }

  .menu-body {
    position: fixed;
    top: -100%;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: #000;
    transition: all 0.5s ease 0s;
  }

  .menu-body.active {
    top: 0;
  }

  .menu-list {
    display: block;
  }
}
.pom {
  font-size: 10px;
  color: #22ff00;
}
